.profile__info {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 5px;
  margin-left: 28px;
}

@media (min-width: 426px) {
  .profile__info {
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  .profile__info {
    margin: 0;
    gap: 18px;
  }
}
