.authForm__link {
    margin-top: 20px;
    min-height: 17px;
    text-decoration: none;
    cursor: pointer;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: opacity .2s ease-in-out;
  }
  
  .authForm__link:hover {
    opacity: .6;
  }